<strong> Olá, {{ organizer }}!</strong>

<p>O encontro {{ meetup }}, previsto para o dia {{ date }} organizado por você acaba de ter mais um participante
  confirmado. Abaixo os dados do participante: </p>
<p>
  <strong> Participante: </strong> {{ user }}
  <br />
  <strong> e-mail: </strong> {{ email }}
  <br />
  <br />
  <small> Caso necessário entre em contato com o participante através do e-mail cadastrado.</small>
</p>